pkgbase = dwl-meta
	pkgdesc = Dependencies for dwl build
	pkgver = 1
	pkgrel = 1
	url = https://github.com/moreka/dwl
	arch = x86_64
	license = MIT
	depends = glibc
	depends = libdrm
	depends = libinput
	depends = libliftoff
	depends = libxcb
	depends = libglvnd
	depends = lcms2
	depends = libxkbcommon
	depends = systemd-libs
	depends = opengl-driver
	depends = pixman
	depends = wayland
	depends = xcb-util-errors
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = seatd
	depends = glslang
	depends = vulkan-icd-loader
	depends = libdisplay-info
	depends = git
	depends = meson
	depends = vulkan-headers
	depends = wayland-protocols
	depends = xorgproto
	depends = xorg-xwayland

pkgname = dwl-meta
